@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary: #3a5aff;
}

/* html {
  scroll-behavior: smooth;
} */
body {
  font-family: "Quicksand", sans-serif;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 14px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
}
header h1 a {
  color: black;
}
nav {
  position: absolute;
  display: block;
  top: 50px;
  right: 10px;
  padding: 20px 30px;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1),
    0 8px 10px -6px rgb(0 0 0 / 0.1);
}
nav.hidden {
  display: none;
}
a {
  text-decoration: none;
}
.nav-list {
  list-style: none;
  display: block;
  transition: 0.5s ease;
}

.nav-item:not(:last-child) {
  margin-bottom: 12px;
}
.nav-item a {
  color: var(--primary);
  transition: 0.5s ease;
}
.nav-item:hover a {
  opacity: 0.7;
}

.hamburger-menu {
  cursor: pointer;
}
.hamburger-line {
  display: block;
  width: 24px;
  height: 2px;
  background-color: black;
}

.hamburger-line:not(:last-child) {
  margin-bottom: 6px;
}

section {
  padding: 100px 10px;
}
#home h1 {
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 15px;
}
#home h1 span {
  display: block;
}
#home p {
  font-size: 14px;
  color: #2c2c2c;
}
img {
  max-width: 100%;
}
.jumbotron-title {
  margin-bottom: 60px;
}

#about .title,
#program .title {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 50px;
}

#about .card-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#about .card {
  max-width: 300px;
  height: 250px;
  padding: 40px 20px;
  border: 1px solid rgba(0, 0, 0, 0.05);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.07);
  border-radius: 10px;
}
#about .card:not(:last-child) {
  margin-bottom: 20px;
}
#about .card .icon {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
#about .card .icon-1 {
  background-color: var(--primary);
}
#about .card .icon-2 {
  background-color: #ffc43b;
}
#about .card .icon-3 {
  background-color: #3cc5ff;
}
#about .card .icon-4 {
  background-color: #ff3b53;
}
#about .card h1 {
  margin: 10px 0;
}

#program .card-list {
  display: flex;
  overflow-x: auto;
  padding: 20px;
}
#program .card-list::-webkit-scrollbar {
  display: none;
}

#program .card {
  min-width: 400px;
  padding: 40px 20px;
  background-color: #ffc43b;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.272);
}
#program .card:not(:last-child) {
  margin-right: 20px;
}
#program .card h1 {
  margin-bottom: 10px;
}

#contact h1 {
  font-size: 30px;
  margin-top: 20px;
}
#contact button {
  background-color: var(--primary);
  color: white;
  outline: none;
  border: none;
  padding: 16px 22px;
  margin-top: 15px;
  font-size: 16px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.5s ease;
}
#contact button:hover {
  opacity: 0.9;
}

footer {
  background-color: var(--primary);
}
footer .title {
  background-color: #f5f5f5;
  padding: 50px 10px;
}
footer .title h1 {
  text-align: center;
  margin-bottom: 50px;
}
footer .title .with-icon {
  width: 100%;
  display: flex;
  justify-content: center;
}
footer .title .with-icon button {
  border: 1px solid black;
  background-color: transparent;
  border-radius: 50%;
  outline: none;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
footer .title .menu {
  text-align: center;
  margin-bottom: 20px;
}
footer .title .menu h4 {
  margin-bottom: 10px;
}
footer .title .menu .no-icon {
  background-color: var(--primary);
  padding: 14px 18px;
  border: none;
  border-radius: 10px;
  color: white;
}

footer .sub-footer {
  padding: 20px 10px;
  height: fit-content;
}
footer .sub-footer ul {
  display: flex;
  gap: 20px;
  list-style: none;
  margin-bottom: 20px;
}
footer .sub-footer ul li a {
  color: white;
  transition: 0.5s;
}
footer .sub-footer ul li a:hover {
  color: #2c2c2c;
}
footer .sub-footer h4 {
  color: #d2d2d2;
}

@media only screen and (min-width: 600px) {
  header {
    padding: 10px 40px;
  }
  section {
    padding: 100px 40px;
  }

  footer .menus {
    display: flex;
    justify-content: space-evenly;
    gap: 40px;
  }
  footer .sub-footer {
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;
  }
  footer .sub-footer ul {
    margin-bottom: 0;
  }
}

@media only screen and (min-width: 768px) {
  #about .card-list {
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 15px;
  }
  #about .card:not(:last-child) {
    margin-bottom: 0px;
  }

  .hamburger-menu {
    display: none;
  }

  nav.hidden {
    position: static;
    display: block;
    background-color: transparent;
    box-shadow: none;
  }
  nav {
    position: static;
    display: block;
    background-color: transparent;
    box-shadow: none;
  }
  .nav-list {
    display: flex;
    gap: 40px;
  }
  .nav-item:not(:last-child) {
    margin-bottom: 0;
  }
}
@media only screen and (min-width: 992px) {
  #home {
    display: flex;
    align-items: center;
  }
  #home .jumbotron-title {
    width: 50%;
  }
  #home .jumbotron-title h1 {
    font-size: 80px;
  }
  #home .jumbotron-title p {
    font-size: 20px;
  }
  #home .jumbotron-img {
    width: 50%;
  }

  #contact {
    display: flex;
    align-items: center;
  }
  #contact .contact-title {
    width: 50%;
    margin-left: 20px;
  }
  #contact .contact-img {
    width: 50%;
  }
  #contact h1 {
    font-size: 50px;
    margin-top: 0;
  }
}
